#301 redirects from HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#Redirect old website
Redirect /weddings https://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /weddings1.php https://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /weddings1.php?couple_id=1 https://www.sallyeagle.co.nz/index.php?view=w&a=3
Redirect /weddings1.php?couple_id=2 https://www.sallyeagle.co.nz/index.php?view=w&a=2
Redirect /weddings1.php?couple_id=3 https://www.sallyeagle.co.nz/index.php?view=w&a=1
Redirect /weddings0.php https://www.sallyeagle.co.nz/index.php?view=g&a=w

#Redirect page names
Redirect /collections.php https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /collections https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses.php https://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /dresses/index.html https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses/ https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses/gallery.xml https://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /bridesmaids https://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaids/ https://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaid https://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaid/ https://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /contact.php https://www.sallyeagle.co.nz/index.php?view=contact
Redirect /contact.html https://www.sallyeagle.co.nz/index.php?view=contact
Redirect /contact https://www.sallyeagle.co.nz/index.php?view=contact
Redirect /index.php?view=o https://www.sallyeagle.co.nz/index.php?view=contact
Redirect /about.php https://www.sallyeagle.co.nz/index.php?view=about
Redirect /about.html https://www.sallyeagle.co.nz/index.php?view=about
Redirect /about https://www.sallyeagle.co.nz/index.php?view=about
Redirect /index.php?view=a https://www.sallyeagle.co.nz/index.php?view=about
Redirect /exposure.php https://www.sallyeagle.co.nz/index.php?view=about
Redirect /friends.php https://www.sallyeagle.co.nz/index.php?view=about
Redirect /partners.html https://www.sallyeagle.co.nz/index.php?view=about
Redirect /index.html https://www.sallyeagle.co.nz/index.php
Redirect /login.php https://www.sallyeagle.co.nz/index.php
Redirect /boutique https://www.sallyeagle.co.nz/index.php?view=boutique
Redirect /index.php?view=s https://www.sallyeagle.co.nz/index.php?view=boutique
Redirect /trunkshows https://www.sallyeagle.co.nz/index.php?view=trunkshows
Redirect /index.php?view=t https://www.sallyeagle.co.nz/index.php?view=trunkshows
Redirect /stockists https://www.sallyeagle.co.nz/index.php?view=stockists
Redirect /index.php?view=z https://www.sallyeagle.co.nz/index.php?view=stockists

#Redirect Raine links
Redirect /raine https://www.sallyeagle.co.nz/index.php?view=g&a=c&c=2
Redirect /taylor https://www.sallyeagle.co.nz/index.php?view=c&a=100
Redirect /willow https://www.sallyeagle.co.nz/index.php?view=c&a=99
Redirect /skye https://www.sallyeagle.co.nz/index.php?view=c&a=98
Redirect /ophelia https://www.sallyeagle.co.nz/index.php?view=c&a=97
Redirect /amara https://www.sallyeagle.co.nz/index.php?view=c&a=96
Redirect /meadow https://www.sallyeagle.co.nz/index.php?view=c&a=95
Redirect /iris https://www.sallyeagle.co.nz/index.php?view=c&a=94
Redirect /ava https://www.sallyeagle.co.nz/index.php?view=c&a=94
Redirect /farrah https://www.sallyeagle.co.nz/index.php?view=c&a=93
Redirect /isla https://www.sallyeagle.co.nz/index.php?view=c&a=92
Redirect /harlow https://www.sallyeagle.co.nz/index.php?view=c&a=91
