#Redirect old website
Redirect /weddings http://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /weddings1.php http://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /weddings1.php?couple_id=1 http://www.sallyeagle.co.nz/index.php?view=w&a=3
Redirect /weddings1.php?couple_id=2 http://www.sallyeagle.co.nz/index.php?view=w&a=2
Redirect /weddings1.php?couple_id=3 http://www.sallyeagle.co.nz/index.php?view=w&a=1
Redirect /weddings0.php http://www.sallyeagle.co.nz/index.php?view=g&a=w

#Redirect page names
Redirect /collections.php http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /collections http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses.php http://www.sallyeagle.co.nz/index.php?view=g&a=w
Redirect /dresses/index.html http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses/ http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /dresses/gallery.xml http://www.sallyeagle.co.nz/index.php?view=g&a=c
Redirect /bridesmaids http://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaids/ http://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaid http://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /bridesmaid/ http://sallyeagle.co.nz/index.php?view=g&a=b
Redirect /contact.php http://www.sallyeagle.co.nz/index.php?view=contact
Redirect /contact.html http://www.sallyeagle.co.nz/index.php?view=contact
Redirect /contact http://www.sallyeagle.co.nz/index.php?view=contact
Redirect /index.php?view=o http://www.sallyeagle.co.nz/index.php?view=contact
Redirect /about.php http://www.sallyeagle.co.nz/index.php?view=about
Redirect /about.html http://www.sallyeagle.co.nz/index.php?view=about
Redirect /about http://www.sallyeagle.co.nz/index.php?view=about
Redirect /index.php?view=a http://www.sallyeagle.co.nz/index.php?view=about
Redirect /exposure.php http://www.sallyeagle.co.nz/index.php?view=about
Redirect /friends.php http://www.sallyeagle.co.nz/index.php?view=about
Redirect /partners.html http://www.sallyeagle.co.nz/index.php?view=about
Redirect /index.html http://www.sallyeagle.co.nz/index.php
Redirect /login.php http://www.sallyeagle.co.nz/index.php
Redirect /boutique http://www.sallyeagle.co.nz/index.php?view=boutique
Redirect /index.php?view=s http://www.sallyeagle.co.nz/index.php?view=boutique
Redirect /trunkshows http://www.sallyeagle.co.nz/index.php?view=trunkshows
Redirect /index.php?view=t http://www.sallyeagle.co.nz/index.php?view=trunkshows
Redirect /stockists http://www.sallyeagle.co.nz/index.php?view=stockists
Redirect /index.php?view=z http://www.sallyeagle.co.nz/index.php?view=stockists

#Redirect Raine links
Redirect /raine http://www.sallyeagle.co.nz/index.php?view=g&a=c&c=2
Redirect /taylor http://www.sallyeagle.co.nz/index.php?view=c&a=100
Redirect /willow http://www.sallyeagle.co.nz/index.php?view=c&a=99
Redirect /skye http://www.sallyeagle.co.nz/index.php?view=c&a=98
Redirect /ophelia http://www.sallyeagle.co.nz/index.php?view=c&a=97
Redirect /amara http://www.sallyeagle.co.nz/index.php?view=c&a=96
Redirect /meadow http://www.sallyeagle.co.nz/index.php?view=c&a=95
Redirect /iris http://www.sallyeagle.co.nz/index.php?view=c&a=94
Redirect /ava http://www.sallyeagle.co.nz/index.php?view=c&a=94
Redirect /farrah http://www.sallyeagle.co.nz/index.php?view=c&a=93
Redirect /isla http://www.sallyeagle.co.nz/index.php?view=c&a=92
Redirect /harlow http://www.sallyeagle.co.nz/index.php?view=c&a=91
